@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
body {
  border: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header .logo {
  width: 10rem;
  height: auto;
}

header nav {
  background-color: rgba(129, 127, 161, 0.596);
}

.picture_header {
  background: url(sources/picture/Fond-header.jpg) no-repeat fixed;
  height: 40em;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.picture_header--title {
  text-align: center;
  color: rgba(255, 255, 255, 0.829);
  letter-spacing: .0em;
  text-shadow: 2px 2px 0px #3d2d2d, 5px 4px 0px rgba(29, 133, 16, 0.15);
  font-family: 'Bungee', cursive;
}

@media screen and (max-width: 650px) {
  .picture_header {
    background-position: center;
  }
}

.promo {
  color: rgba(248, 163, 4, 0.801);
  font-weight: bold;
  text-shadow: 2px 5px 10px black;
  font-size: 25px;
}

.text-carousel-shop {
  color: #372272;
  font-weight: bold;
  text-shadow: 2px 5px 10px black;
}

@media screen and (max-width: 1183px) {
  .list-shop {
    display: none;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button:hover .button__rect {
  stroke-dasharray: 760;
  stroke-dashoffset: 0;
  stroke-width: 2px;
}

.button__rect {
  fill: transparent;
  stroke: #665031;
  border-bottom: 5px solid #665031;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  stroke-dasharray: 120 700;
  stroke-dashoffset: -250;
  stroke-width: 8px;
}

.button__text {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 4px;
  color: rgba(243, 4, 4, 0.664);
  top: -48px;
}

footer {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 20rem;
  margin-top: 35px;
      grid-template-areas: "title-footer from lin ico" "title-footer from lin copi";
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 0.5fr 1fr 0.001fr 1fr;
      grid-template-columns: 0.5fr 1fr 0.001fr 1fr;
  background: rgba(53, 52, 66, 0.534);
  color: rgba(7, 5, 3, 0.521);
}

footer .title-footer {
  color: rgba(255, 255, 255, 0.582);
  font-family: 'Bungee', cursive;
  text-shadow: 5px 8px 15px rgba(0, 0, 0, 0.384);
}

footer div.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: copi;
  background: url(sources/picture/logo-footer.png) no-repeat;
  background-size: 20%;
  background-position-x: left;
  background-position-y: bottom;
}

footer nav.from {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: from;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

footer nav.from a:hover {
  color: whitesmoke;
}

footer div.line {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: lin;
  background: rgba(255, 255, 255, 0.493);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

footer div.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: ico;
  margin-right: 20px;
}

footer a {
  color: rgba(255, 255, 255, 0.452);
}

.meta:hover {
  color: rgba(0, 0, 255, 0.644);
}

.meta i {
  color: rgba(0, 0, 255, 0.644);
}

.snap:hover {
  color: #f7f400;
}

.snap i {
  color: #f7f400;
}

.twitter:hover {
  color: #209bf0;
}

.twitter i {
  color: #209bf0;
}

.insta:hover {
  color: #dc316f;
}

.insta i {
  color: #dc316f;
}

.copy-title {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */