@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

$title-color: rgba(179, 179, 179, 0.829);
$nav-color: rgba(129, 127, 161, 0.596);
$shadow-title: rgb(61, 45, 45);

header {
  .logo {
    width: 10rem;
    height: auto;
  }
  nav {
    background-color: $nav-color;
  }
}

.picture_header {
  background: url(sources/picture/Fond-header.jpg);
  height: 40em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

    &--title { 
      text-align: center;
      color: $title-color;
      letter-spacing: .0em;
      text-shadow: 2px 2px 0px $shadow-title, 5px 4px 0px rgba(29, 133, 16, 0.15);
      font-family: 'Bungee', cursive;
    }
}

@media screen and (max-width:650px) {
  .picture_header {
    background-position:  center;
  }
}