@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

$title-color: rgba(255, 255, 255, 0.829);
$nav-color: rgba(129, 127, 161, 0.596);
$shadow-title: rgb(61, 45, 45);
$border-button-card: #665031;
$text-button-card: rgba(243, 4, 4, 0.664);


a {
  text-decoration: none;
}

header {
  .logo {
    width: 10rem;
    height: auto;
  }
  nav {
    background-color: $nav-color;
  }
}

.picture_header {
  background: url(sources/picture/Fond-header.jpg) no-repeat fixed;
  height: 40em;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

    &--title { 
      text-align: center;
      color: $title-color;
      letter-spacing: .0em;
      text-shadow: 2px 2px 0px $shadow-title, 5px 4px 0px rgba(29, 133, 16, 0.15);
      font-family: 'Bungee', cursive;
    }
}

@media screen and (max-width:650px) {
  .picture_header {
    background-position:  center;
  }
}

// *****************button card******************
@mixin dash($array, $offset, $widht) {
  stroke-dasharray: $array;
  stroke-dashoffset: $offset;
  stroke-width: $widht;
}

.button {
  display: flex;
  justify-content: space-around;


  &:hover
    &__rect {
      @include dash(760,0 ,2px )
    }

  &__rect {
    fill: transparent;
    stroke: $border-button-card;
    border-bottom: 5px solid $border-button-card;

    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    @include dash(120 700,-250 ,8px )
  }
  &__text {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 4px;
    color: $text-button-card;
    top: -48px;
  }
}